.resultvalue{
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    overflow: hidden;
    line-height: 45px;
    max-width: 155px;
    word-break: break-all;
    padding: 0 .31em;
    /*border-left: #e7e7e7 solid 1px;*/
    border-bottom: #e7e7e7 solid 1px;
    font-size: 18px;
    border-collapse: collapse;
    text-align: center;
    font-family: iranyekanwebregularfanum, "B Yekan";

    @mixin atMobile {
        font-size: 14px;
        padding: 0 .31em;
        border-top: #999 solid 1px;
        /*border-collapse: collapse;*/
        text-align: center;
        font-family:iranyekanwebregularfanum;
        line-height: 45px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 150px;
        word-break: break-all;
    }

     &__red {
        color: rgb(255, 56, 66);
     }

     &__orange {
    color: orange;
      }

     &__yellow {
    color: #b6b600;
      }

     &__green {
    color: rgb(0, 164, 0);
      }

    &__text {
         color: rgb(56, 56, 56);
     }
}